.footer {
    background-color: var(--bg-accent-color);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer--adapt {
    @include desktop {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}
.footer__item {
    text-align: center;
    @include desktop {
        text-align: start;
    }
}
.footer--tablet {
    margin-bottom: 60px;
    @include tablet {
        display: flex;
        padding: 0 60px;
        justify-content: space-between;
    }
    @include desktop {
        margin-bottom: 0;
        padding: 0;
    }
}
.footer__contacts {
    margin-top: 20px;
    @media screen and (max-width:767px) {
        margin-bottom: 60px;
    }
    @include desktop {
        margin-right: 70px;
    }
} 

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-accent-color);
    text-decoration: none;

    transition-property: color , border-color;
    transition-duration: var(--animation-duration);
    transition-timing-function:var(--animation-timing-function);
    &:hover, &:focus {
        color: var(--accent-color);
    } 
}
.contacts--footer {
    margin-top: 8px;
    color: var(--secondary-text-color);
    @include desktop {
        margin-top: 9px;
    }
}

.footer-title {
    margin-bottom: 20px;
    width: 100%;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
}
.subscribe-form {
    @include desktop {
        display: flex;
    }
}
.subscribe-input{
    margin-bottom: 20px;

    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--bg-accent-color);
    padding-left: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--white-text-color);
    
    transform: border-color var(--animation-duration) var(--animation-timing-function);
    &:hover , &:focus {
        border-color: var(--accent-color);
    }
    @include tablet {
        width: 450px;
    }
    @include desktop {
        max-width: 358px;
        margin-bottom: 0;
    }
}

.subscribe-btn {
    margin: 0 auto;
width: 200px;
height: 50px;

background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;

font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.06em;
color: var(--white-text-color);

transform: background-color var(--animation-duration) var(--animation-timing-function);
    &:hover, &:focus {
    background-color: #188CE8;
    }
    @include desktop {
        margin-left: 12px;
        margin-right: 0px;
    }
}
.subscribe-icon {
margin-left: 10px;
}