.clients {
    padding-bottom: 60px;
    padding-top: 60px;
    @include desktop {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}

.clients__list {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // &:nth-child(n+2) {
    //         margin-left: 30px;
    //     }
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.clients__item {
    width: calc((100% - 30px) /2);
    @include tablet {
        width: calc((100% - 60px) /3);
    }
    @include desktop {
        width: calc((100% - 150px) /6);
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    border: 1px solid var(--clients-icon-fill);
    border-radius: 4px;
    color: var(--clients-icon-fill);
    transition-property: color , border-color;
    transition-duration: var(--animation-duration);
    transition-timing-function:var(--animation-timing-function);
    &:hover , &:focus {
        color: var(--clients-icon-fill-hf);
        border-color: var(--clients-icon-fill-hf);
    }
}

.clients__icon {
    fill: currentColor;

}