.contacts__list {
    display: flex;
    margin-left: auto;
}

.contacts__item:nth-child(n+2) {
    margin-left: 50px;
} 
.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: var(--animation-duration);
    transition-timing-function:var(--animation-timing-function);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.contacts__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
}