:root {
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --white-text-color: #FFFFFF;
    --accent-color:#2196F3;
    --secondary-accent-color:#FFFFFF;
    --primary-bg-color: #FFFFFF;
    --bg-accent-color:#2F303A;
    --pf-btn-color: #F5F4FA;
    --features-icon-box-color:#F5F4FA;
    --primary-social-icon-fill: #AFB1B8;
    --secondary-social-icon-fill:#FFFFFF;
    --clients-icon-fill: #AFB1B8;
    --clients-icon-fill-hf:#2196F3;
    --animation-duration: 250ms;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}